body {
	font-size: 14pt;
}

form {
  width: 50%;
  display: block;
  margin: auto;
  text-align: right;
}

form div {
  padding: 2px;
}

form select, input,  {
	width: 50%;
}


.banner {
	position: sticky;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;

	background-color: white;
	
}


.banner-buttons {
	width: 100%;
	display: table;
	table-layout: fixed;
	text-align: center;
	box-shadow: 0px 2px 10px #CCCCCC;
}

.banner-item {
	display: table-cell;
	height: 100%;
	margin: 0;
	vertical-align: middle;
	text-decoration: none;
	font-size: large;
}


.note {
	padding: 5px;
	margin-top: 10px;

	outline: solid #ff7777;
	outline-width: 2px;	
	background-color: #77ff77;

	text-align: center;
	cursor: pointer;

	animation: fade_out 0.5s ease-in;
}

@keyframes fade_out {
	  0% {opacity:  0;}
	100% {opacity:  1;}
} 

.section-title {
	margin-top: 2em;
}

.content {
	max-width: 80vw;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	text-align: center;
}


.card:hover, .card:focus {
	background-color: #CCCCCC;
	cursor: pointer;
}

.mosaic {
	display: grid;
	grid-column-gap: 10px;
	grid-row-gap: 2em;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 5em;
	margin: 2em;
}


.mosaic-tile {
	text-decoration-line: none;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	justify-content: center;
}

.mosaic-tile img {
	margin: auto;
	margin-top: 2em;
	max-width: 80%;
}


.description img {
	max-height: 50vh;
	width: auto;
}

.liste {
	margin: auto;
	padding: 1em;
	display: table;
	text-align: left;
}


.info-table {
	margin: auto;
	text-align: left;
}

.info-table th {
	padding-right: 5em;
}

.mini-form {
	hidden;
	display: inline;
	margin-left: 1em;	
}

